/**
* Archivo principal de estilos
* @author David Antonio Botero Valencia
* @updated David Antonio Botero Valencia
* @version 1.1
*/

/*Selectores de clase*/
.b0 {
    bottom: 0;
}

.bc1 {
    background-color: white;
}

.bc2
{
    background-color: #35b634;
}

.bc3 {
    background: linear-gradient(to right,  rgba(0,169,255,1) 1%,rgba(40,219,242,1) 100%);
    background: rgb(0,169,255);
    background: -ms-linear-gradient(left,  rgba(0,169,255,1) 1%,rgba(40,219,242,1) 100%);
    background: -moz-linear-gradient(left,  rgba(0,169,255,1) 1%, rgba(40,219,242,1) 100%);
    background: -o-linear-gradient(left,  rgba(0,169,255,1) 1%,rgba(40,219,242,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(0,169,255,1)), color-stop(100%,rgba(40,219,242,1)));
    background: -webkit-linear-gradient(left,  rgba(0,169,255,1) 1%,rgba(40,219,242,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9ff', endColorstr='#28dbf2',GradientType=1 );
}

.bc4 {
    background: linear-gradient(to right,  rgba(7,140,60,1) 1%,rgba(61,164,58,1) 100%);
    background: rgb(7,140,60);
    background: -ms-linear-gradient(left,  rgba(7,140,60,1) 1%,rgba(61,164,58,1) 100%);
    background: -moz-linear-gradient(left,  rgba(7,140,60,1) 1%, rgba(61,164,58,1) 100%);
    background: -o-linear-gradient(left,  rgba(7,140,60,1) 1%,rgba(61,164,58,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(7,140,60,1)), color-stop(100%,rgba(61,164,58,1)));
    background: -webkit-linear-gradient(left,  rgba(7,140,60,1) 1%,rgba(61,164,58,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#078c3c', endColorstr='#3da43a',GradientType=1 );
}

.bs0 {
    box-shadow: 0 0 5px 2px #aaa;
}

.c0 {
    z-index: 0;
}

.c1 {
    z-index: 1;
}

.c2 {
    z-index: 2;
}

.c3 {
    z-index: 3;
}

.c4 {
    z-index: 4;
}

.c5 {
    z-index: 5;
}

.cud {
    cursor: default;
}

.cup {
    cursor: pointer;
}

.di {
	display: inline;
}

.dib {
	display: inline-block;
}

.fc1 {
    color: #1a9f54;
}

.fc2 {
    color: white;
}

.fwb {
	font-weight: bold;
}

.h100 {
    height: 100%;
}

.lsn {
	list-style: outside none none;
}

.m0 {
    margin: 0;
}

.ma {
    margin: auto;
}

.ov {
    overflow: visible;
}

.pa {
    position: absolute;
}

.r0 {
    right: 0;
}

.t0 {
    top: 0;
}

.tac {
    text-align: center;
}

.taj {
    text-align: justify;
}

.ttu {
	text-transform: uppercase;
}

.w100 {
    width: 100%;
}
