/**
* Archivo de estilos de la aplicación
* @author David Antonio Botero Valencia
* @updated David Antonio Botero Valencia
* @version 1.2
*/

/*Selectores por tipo*/
body, div, p {
    box-sizing: border-box;
    font-family: Verdana;
    overflow: hidden;
}

header {
    height: 17%;
}
/*Selectores por identificador*/
/*>*/
#branding-image {
    height: 90%;
    left: 7%;
    top: 5%;
}
#branding-text-subtitle {
    text-decoration: overline;
}

#launch-application-button:hover {
	color: orange;
}

#layer-tree-geographic-map-main-toggle-button {
	border-left: 1px solid gray;
}
#layer-tree-geographic-map-main-toggle-button img {
	height: 94%;
	left: 3%;
	top: 3%;
	width: 94%;
}
#layer-tree-geographic-map-main-title-text {
	left: 5%;
	width: 84%;
}






#modal-window {
	background-color: white;
}
/*En todos los calc agregar opciones por sino es aceptado es decir antes de width: calc(100% - 10px); que valla algo como width: 99%;*/
#modal-window-body, #modal-window-header {
    left: 5px;
    width: calc(100% - 10px);
}
#modal-window-body {
    bottom: 5px;
}
#modal-window-body > progress {
    left: 25%;
	width: 50%;
}
#modal-window-body-options {
	border-top: 1px solid black;
	height: 15%;
}
#modal-window-header {
	height: 20px;
	padding-left: 5px;
    top: 5px;
}
#modal-window-header-options {
	background-color: white;
	right: 5px;
	width: 43px;
}

/*Ajustar botones de modal para que siempre se vean bien*/
#modal-window-header-options > p {
    border: 1px solid black;
    font-size: 10px;
    height: 14px;
    line-height: 13px;
    top: 2px;
    width: 19px;
}
#modal-window-header-options > p:hover {
	color: orange;
	border-color: orange;
}
#modal-window-header-text {
	width: 79%;
}
#query-title-text {
    left: 3%;
    width: 94%;
}
#search-button {
    border-color: #999999;
    border-style: solid;
    border-radius: 0 3px 3px 0;
    border-width: 1px 1px 1px 0;
    background-color: #EEEEEE;
    height: 94%;
    top: 3%;
    width: 7.9%;
}
#search-button-image {
    height: 60%;
    left: 15%;
    top: 20%;
    width: 70%;
}
#search-input {
    background-color: #EEEEEE;
    border: 1px solid #999999;
    border-radius: 3px 0 0 3px;
    box-sizing: border-box;
    height: 94%;
    padding: 0 0 0 5px;
    top: 3%;
    width: 92.1%;
}
#size-0 {
    left: 5px;
    height: 24%;
}
#size-1 {
    left: 20px;
    height: 21%;
}
#size-2 {
    left: 35px;
    height: 17%;
}
#size-3 {
    left: 50px;
    height: 20%;
}
#size-4 {
    left: 65px;
    height: 27%;
}
/*>*/
#scroll-main-content {
	width: 98%;
}
#scroll-main-content, #wrapper-tools {
    height: 83%;
}
/*>*/
#mask-main-content {
	height: 500%;
}
/*>*/
#wrapper-branding {
    height: 55%;
}
#wrapper-branding-text {
    left: 30%;
    top: 5%;
    width: 40%;
}
#wrapper-breadcrumb {
    height: 19%;
    top: 55%;
}
#wrapper-breadcrumb-content {
    left: 10px;
}
#wrapper-layer-tree-geographic-map-main {
	background-color: white;
}
#wrapper-layer-tree-geographic-map-main-content {
	height: 89%;
	top: 5%;
}
#wrapper-layer-tree-geographic-map-main-content, #wrapper-layer-tree-geographic-map-main-options {
	border: 1px solid gray;
	left: 3%;
	width: 95%;
}
#wrapper-layer-tree-geographic-map-main-images {
	border-bottom: 1px solid gray;
	height: 10%;
}
#wrapper-layer-tree-geographic-map-main-options {
	bottom: 1%;
	height: 4%;
}
#wrapper-layer-tree-geographic-map-main-title {
	border-bottom: 1px solid gray;
	height: 4%;
}
#wrapper-menu {
    bottom: 7%;
    height: 40%;
}
#wrapper-tools {
    box-shadow: 0 6px 5px 2px #aaa;
    width: 2%;
}
#wrapper-navigation-content {
    top: 10px;
}
#wrapper-navigation-content img {
    height: 70%;
    margin: 15%;
	position: absolute;
    width: 70%;
}
#wrapper-navigation-content ul li, #wrapper-navigation-content ul li div:first-child, #wrapper-navigation-content ul li div:last-child , .element-main-content {
    height: 20%;
}
#wrapper-navigation-content ul li div:first-child {
    padding-left: 10px;
    width: 350%;
}
#wrapper-navigation-content ul li div:last-child {
    background-color: rgba(255, 255, 255, 0);
}
#wrapper-navigation-content ul li div:nth-child(2) {
    position: relative;
}
#wrapper-navigation-content ul li:nth-child(2) div:first-child, #wrapper-navigation-content ul li:nth-child(2) div:last-child , #mask-main-content:first-child li:nth-of-type(2)  {
    top: 20%;
}
#wrapper-navigation-content ul li:nth-child(3) div:first-child, #wrapper-navigation-content ul li:nth-child(3) div:last-child , #mask-main-content:first-child li:nth-of-type(3)  {
    top: 40%;
}
#wrapper-navigation-content ul li:nth-child(4) div:first-child, #wrapper-navigation-content ul li:nth-child(4) div:last-child , #mask-main-content:first-child li:nth-of-type(4) {
    top: 60%;
}
#wrapper-navigation-content ul li:nth-child(5) div:first-child, #wrapper-navigation-content ul li:nth-child(5) div:last-child , #mask-main-content:first-child li:nth-of-type(5) {
    top: 80%;
}
#wrapper-options {
    height: 55%;
    right: 7%;
}
#wrapper-query-menu-content {
	left: 10%;
	width: 80%;
}
#wrapper-query-menu-content  > li {
	padding: 10px;
}
#wrapper-query-menu-content > li:nth-child(2) {
	background-color: rgb(40, 161, 216);
}
#wrapper-query-menu-content > li:nth-child(3) {
	background-color: rgb(235, 144, 10);
}
#wrapper-query-menu-content > li:nth-child(4) {
	background-color: rgb(181, 205, 33);
}
#wrapper-query-title {
    bottom: 3%;
    height: 25%;
}
#wrapper-search {
    height: 35%;
    top: 10%;
}
#wrapper-sizes {
    border: 1px solid gray;
    box-shadow: 0 0 3px 1px gray;
    height: 10%;
    width: 100px;
}
#wrapper-sizes p {
    border: 0px solid gray;
    top: 5px;
    width: 10px;
    background-color: green;
}
/*Selectores de clase*/
/*>*/
.aplBc0 {
	background-color: rgb(1, 140, 59);
}
.aplCuq {
	cursor: url(../images/cursors/query.ico), auto;
}
.aplButton-0 {
	border: 1px solid #327e04;
}
.aplButton-0:hover {
	border: 1px solid orange;
	color: orange;
}
/*>*/
.modal-window-body-options-button {
	bottom: 15%;
	height: 70%;
	width: 20%;
}
.element-navigation-description {
	background-color: #3d993a;
}
.element-navigation-description-selected
{
	background-color: #28dbf2;
}
.filter-query-title {
	background-color: gray;
}
.filter-query-option-input {
	background-color: green;
}
.filter-query-option-label {
	background-color: #FFFF99;
}
.layer-tree-geographic-image {
	border: 2px solid white;
}
.lock-screen-background-color-0 {
	background-color: white;
}
.lock-screen-background-color-1 {
	background-color: rgba(25, 25, 25, 0.5);
}
.menu-option {
    line-height: 100%;
    width: 47%;
}
.menu-option-text {
	color: white;
    height: 14px;
}
.menu-option-text:hover {
	color: orange;
}
.scroll-query-menu-options-content {
	border: 1px solid black;
}





.tab-1-template-1 {
	display: block;
	height: 100%;
	width: 100%;
}
.tab-2-template-1 {
	display: none;
}
.tab-3-template-1 {
	display: none;
}



.gra-1-template-1 {
	display: block;
	height: 100%;
	width: 100%;
}
.gra-2-template-1 {
	display: none;
}
.gra-3-template-1 {
	display: none;
}



/*>*/
.generated-element-attribute-geographic-layer-body {
	background-color: white;
}
.generated-element-attribute-geographic-layer-body > input[type='range'] {
    margin: 7px 10% 3%;
    width: 80%;
}
.generated-element-attribute-geographic-layer-body > p {
    background-color: rgba(50, 0, 50, 0.9);
    color: white;
	width: 97%;
}
.generated-element-attribute-geographic-layer-body > ul {
    margin: 2%;
	width: 96%;
}
.generated-element-attribute-geographic-layer-header {
    background-color: #0f4;
}
.generated-element-attribute-geographic-layer-subtitle {
    margin: 1.5% 1.5% 0;
    padding: 2px 2px 0;
}
.generated-element-attribute-geographic-layer-toggle-button {
	height: 1em;
	margin: 2%;
}
.generated-element-attribute-geographic-layer-value {
    margin: 0 1.5% 1.5%;
    padding: 0 2px 2px;
}
.generated-element-group-geographic-layer-body {
	background-color: white;
}
.generated-element-group-geographic-layer-body > p{
    background-color: rgba(50, 50, 50, 0.9);
    border: 1px solid black;
    color: white;
    font-style: italic;
    padding: 4px;
}
.generated-element-group-geographic-layer-body > p, .generated-element-group-geographic-layer-body > ul {
    margin: 2%;
	width: 96%;
}
.generated-element-group-geographic-layer-body > ul > li {
	background-color: rgba(20, 30, 40, 0.5);
	border: 1px solid gray;
}
.generated-element-group-geographic-layer-header {
    background-color: #bbb;
}
.generated-element-group-geographic-layer-header-text {
	margin: 5px 2%;
}
.generated-element-option-query-menu-text {
	color: white;
    height: 14px;
}
.generated-element-option-query-menu-text:hover {
	color: yellow;
}
 .generated-element-option-query-menu-text-selected {
	color: orange;
	font-weight: bold;
}
.generated-element-node-geographic-layer-body > ul {
    margin: 2%;
	width: 96%;
}
.generated-element-node-geographic-layer-header {
    /*Acá no deber ir el color, deben ir otras reglas sobre la forma del elemento*/
	background-color: #0bb;
}
.generated-element-node-geographic-layer-header-enabled {
	color: black;
	background-color: #7eb2d5;
}
.generated-element-node-geographic-layer-header-disabled {
	color: gray;
	background-color: rgb(100, 100, 100);
}
.generated-element-node-geographic-layer-header-button {
    float: right;
	height: 1.5em;
    margin: 3px 5% 0 0;
}
.generated-element-node-geographic-layer-header-text {
	 margin: 3px 0 3px 5%;
	width: 75%;
}
.generated-element-option-query-menu-text {
	margin: 5px;
}
/*Reglas de estilo modificadas de OpenLayers*/
#map-main .ol-overviewmap {
    bottom: 33px;
}
#map-main .ol-overviewmap:not(.ol-collapsed) {
	height: 158px;
}
#map-main .ol-overviewmap .ol-collapsed {
	margin: 1px;
}
#map-main .ol-overviewmap button {
	bottom: 3px;
	left: 3px;
}
#map-main .ol-touch .ol-zoom .ol-zoom-out {
  margin-top: 212px;
}
#map-main .ol-touch .ol-zoomslider {
  top: 2.75em;
}
#map-main .ol-zoom .ol-zoom-out {
  margin-top: 204px;
}
#map-main .ol-zoom-in.ol-has-tooltip:hover [role=tooltip], #map-main .ol-zoom-in.ol-has-tooltip:focus [role=tooltip] {
  top: 3px;
}
#map-main .ol-zoom-out.ol-has-tooltip:hover [role=tooltip], #map-main .ol-zoom-out.ol-has-tooltip:focus [role=tooltip] {
  top: 232px;
}
#map-main .ol-zoomslider {
  background-color: transparent;
  top: 2.3em;
  width: 28px;
}
#map-main .ol-zoomslider-thumb {
	border-radius: 0px !important;
	margin: 3px 4px;
	width: 20px;
}
/*Reglas de estilo modificadas de mCustomScrollbar*/
.mCSB_inside > .mCSB_container {
    margin-right: 0px !important;
}